{% if modifyAllow is defined and modifyAllow == true %}<li><a data-toggle="modal" data-target="#modal_ajax" href="{{ path('webmodule_insertformsectionmodule', {'id_section': itemid }) }}"><i class="icon-external-link"></i> Nuevo</a></li>{% endif %}
    {% if sectionmodules is defined %}
        {% for module in sectionmodules %}
        <li>
            {% if modifyAllow is defined and modifyAllow == true %}<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('webmodule_insertformsectionmodule', {'id': module.id,'id_section': itemid }) }}" title="Editar"><i class="icon-pencil"></i></a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="#"><i class="icon-barcode"></i> {% endif %}
                <span class="sale-info">{{ module.moduledata.name  }}</span>
                {% if modifyAllow is defined and modifyAllow == true %}</a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:putModuleUp({{module.id}})" id=""><i class="icon-arrow-up"></a></i> {% endif %}
        {% if modifyAllow is defined and modifyAllow == true %}<a href="javascript:puModuletDown({{module.id}})" id=""><i class="icon-arrow-down"></a></i> {% endif %}
</li>   
{% endfor%}
{% endif %}


{% block additionalscripts %}
    <script>
        function putModuleUp(id) {
            $.post("{{path('webmodule_putupmodule')}}", {'id' : id}, function (r) {
                if (!r){alert("Error desconocido"); return; };
                if (r.errorCode > 0){ alert(r.errorDescription)}
                
                $('#list_sectionmodules').html(r);
            });
        }
        
        function puModuletDown(id) {
            $.post("{{path('webmodule_putdownmodule')}}", {'id' : id}, function (r) {
                if (!r){alert("Error desconocido"); return; };
                if (r.errorCode > 0){ alert(r.errorDescription)}
                
                $('#list_sectionmodules').html(r);
            });
        }
    </script>

{% endblock %}