{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% block modaltitle %}Añadir módulo a la sección{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertSectionmoduleform">

        {% set configField = { 'label': 'Módulo', 'field': 'module', 'classesinput':'select2'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteSectionmodule" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveSectionmodule" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

    <script>
        $(document).ready(function () {
            $('#btn_saveSectionmodule').click(function () {
                $('#buttons_modal').css('display', 'none');
                $('#ajaxloader').css('display', 'block');
                $.post('{{ path('webmodule_insertmodifysectionmodule', {'id_section':id_section, 'id': id}) }}', $("#insertSectionmoduleform").serialize(), function (r) {
                    $('#buttons_modal').css('display', 'block');
                    $('#ajaxloader').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_sectionmodules').html(r);

                    $('.modal').modal('hide');
                });
            });

            $('#btn_deleteSectionmodule').click(function () {
                if (!confirm('¿Realmente desea eliminar el módulo de la sección? OPERACIÓN IRREVERSIBLE'))
                    return;
                $('#buttons_modal').css('display', 'none');
                $('#ajaxloader').css('display', 'block');
                $.post('{{ path('webmodule_dropsectionmodule', {'id':id}) }}', $("#insertSectionmoduleform").serialize(), function (r) {
                    $('#buttons_modal').css('display', 'block');
                    $('#ajaxloader').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_sectionmodules').html(r);

                    $('.modal').modal('hide');
                });
            });
        });
    </script>
{% endblock %}

