{%
    set configTable = {
                                'id': 'webmodule', 
                                'title': 'Módulos', 
                                'icon':'barcode',
                                'noOptions':true,
                                'viewdata': {'url': 'webmodule_viewwebmodule'},
                                'fields': {'name': {'title': 'Nombre', 'link_view': true}, 'moduletypename': {'title': 'Tipo','filter':true}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('webmodule_insertwebmodule')}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}