{% set configField = { 'label': 'Nombre', 'field': 'name' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Tipo', 'field': 'moduletype', 'classesinput':'select2' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}