
 {%
    set configForm = {
        'id' : 'insertmodule',
        'pathaction': path('webmodule_insertwebmodule'),
        'pathcancel': path('webmodule_listwebmodules'),
        'title': 'Module',
        'icon': 'barcode'
    }
 %}

 {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
     {% block formcontent %}
         {% if form_errors(new_form) %}
             <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
         {% endif %}


        {% include 'WebmodulesBundle:Default:insertform.html.twig' %}  


         {{ form_widget(new_form._token) }}

     {% endblock %}                    
 {% endembed %}

