{% set modulesnews = function_modules.getWebmodulesByType(menuweb_moduletype) %}
{% set menuweb_prefixactive = menuweb_moduletype | webmoduleprefix %}
{% set menuweb_path = menuweb_moduletype | webmodulelink %}

{% if modulesnews | length > 0 %}
    <li class="{% if menuweb_prefixactive is defined and menuweb_prefixactive in app.request.attributes.get('_route') %}active{% endif %}">
        <a href="javascript:;">
            <i class="fa fa-{{ menuweb_moduletype | webmoduleicon }}"></i> 
            <span class="title">{{ menuweb_moduletype | webmodulename }}</span>
            <span class="selected"></span>
        </a>
        <ul class="sub-menu">
            {% for modulenew in modulesnews %}
                <li><a href="{{ path(menuweb_path, {'idproject': modulenew.id }) }}">{{ modulenew.name }}</a></li>
                {% endfor %}
        </ul>
    </li>       
{% endif %}
