{%
set configForm = {
'id' : 'modifymodule',
'pathaction': path('webmodule_modifywebmodule', { 'id': item.id }),
'pathcancel': path('webmodule_listwebmodules')
}
%}


{% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include 'WebmodulesBundle:Default:insertform.html.twig' %}  

        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}
