

{% set break=0 %}
{% for field in new_form %}
    {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
{% endfor %}
{% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}

{% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}

<h1>{{ item.name }}</h1>
<div class="btn-group">
    {%set pathdelete= path('webmodule_deletewebmodule', {'id': item.id })%}
    {% set id = item.id %}
    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>                                        

{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}                                   
{{ item.moduletypename | raw }}
<p>&nbsp;</p>